@tailwind base;
@tailwind components;
@tailwind utilities;

#App {
  display: flex;
  width: 100vw;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.centerDiv {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 10%;
}

.Pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  height: 33rem;
  border: 2px solid black;
  border-radius: 10px;
}
.pcontainter{
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.DefaultImage {
  width: 15em;
  height: 15em;
  background-size: cover;
  background-repeat: none;
  background-image: url("/pokeball.svg");
  cursor: pointer;
}

.PokeData {
  width: 20em;
  height: 20em;
}

h1 {
  text-align: center;
}
